body {
    background-color:#fff ;
    font-family: 'Poppins', sans-serif;
}

#exampleModal2 {
    z-index: 10000 !important;
    backdrop-filter: blur(15px);
}

/* #exampleModal2 > .btn-close:hover {
    background: red !important;
} */

.position-sticky {
    z-index: 1000 !important;
}

.a_tbdr {
    /* height: 1200px; */
    border: 1px dashed red;
} 

/* .a_cont {
    min-height: 5503px;
} */

.a_city_input {
    background: #EEE;
}

.a_search_form {
    position: fixed;
    top: 15px;
    left: 100px;
    z-index: 10000;
    background-color: #fff;
    transition: all linear 5s !important;

}

.a_scrollToTop {
    animation-name: stp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes stp {
    from {
        opacity: 0;
        transform: scale(0,0);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

ul > li:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    border-radius: 5px;

}

.a_submenu {
    width:100px;
    height: 100px;
    background-color: red;
    display: none;   /*Hide*/
}

.a_menu > li:hover ul {
    display: block;    /*Show*/
}
header {
    min-height: 81px;
    width: 94%;
    margin: auto;
    z-index: 10000;
}

main {
    height: 3622px;
    /* top: 82px; */
     /* padding-bottom: 500px; */
    
}

.a_ccp,.a_ccn {
    visibility: hidden;
}

.a_mainslider:hover .a_ccp,.a_mainslider:hover .a_ccn {
    visibility: visible;
}

.a_mainslider .a_ccp,.a_mainslider .a_ccn {
    background-color: rgba(0,0,0,0.9);
    width: 22px;
    height: 22px;
    border-radius: 22px;
    visibility: hidden;

}

.a_mainslider:hover {
    cursor: pointer;
}

.a_mainslider img {
    height: 250px;
    width: 100%;
}

.carousel-indicators button {
    width: 6px !important;
    height: 6px !important;
    /* border-radius: 10px !important; */
}

.a_m11 {

    height: 120px;
}

.a_m22 {
    height: 250px;
}

ul.a_m33_icon >li > a:hover {
    background-color: #FFF;
}

ul.a_m33_icon >li > a:hover > img {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.03);
}

ul.a_m33_icon >li > a > img {
    width: 60px;
    height: 60px;
}

ul.a_m33_icon > li > a > span
{
    font-size: 14px;
}

.a_orange {
    background-color: #fe610c;;
}

.a_m44 {
    height:540px;
}


.mt-5.a_mt-5 {
    margin-top: 5rem!important;
}

.a_b2b {
    background: #0F7DD8;
    transform: scale(0.8,0.8);
    transform-origin: left center;
    transition: all linear 0.3s;
    left: 0px;
    left:-50px !important;
}

.a_b2b:hover {
    background: #fff;
    color: #0F7DD8 !important;

}

.a_xyz:hover div.a_b2b {
    left:0px !important;
} 

.a_xyz:hover div.a_b2b:hover {
    color: #0F7DD8 !important;
    background-color: #fff !important;
} 

.a_xyz:hover i {
    color: #085799;
} 


footer {
    /* height: 1800px; */

}

.a_footer1 {
    height: 112px;
}

.a_footer2 {
    height: 1293px;
}

.a_footer3 {
    height: 298px;
}

.a_footer4 {
    height: 97px;
}

.a_tnr {
    font-family: 'Times New Roman', Times, serif;
}

.a_fs {
    font-size: 10.618px;
}

/* .a_xyz:hover {
    cursor: pointer;
    text-decoration: none;
} */


.a_xyz:hover > img {
    transform-origin: right bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
} 

 .a_xyz:hover > img {
    transform: scale3d(1.1,1.1,1);
} 

.a_xyz  span {
    transform-origin: left bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
} 

.a_xyz:hover  span {
    transform: scale3d(1.1,1.1,1);
} 

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight:bold;
    color: #333 !important;
    opacity: .5 !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size:15px;
       font-weight:bold;
       color: #333 !important;
       opacity: .5 !important;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size:15px;
       font-weight:bold;
       color: #333 !important;
       opacity: .5 !important;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 15px!important;
    font-weight:bold;
    color: #333 !important;
    opacity: .5 !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px!important;
       font-weight:bold;
       color: #333 !important;
       opacity: .5 !important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px!important;
       font-weight:bold;
       color: #333 !important;
       opacity: .5 !important;
 }


 div.a_animation {

    animation-name:myanimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction:alternate ;
 }

 @keyframes myanimation {
       0% {
          transform: translateY(0px);
       }

       40% {
          transform: translateY(0px);
       }

       60% {
        transform: translateY(-33px); 
       }

       100% {
        transform: translateY(-33px);
       }

 }


@media screen and (max-width: 576px){

    .a_form_col {
        height: 50px;
    }

    .mt-5.a_mt-5 {
        margin-top:100px !important;
    }

    footer {
        position: fixed;
        bottom: -2px;
        left: 0px;
        width: 100%;
    }

    .a_tbdr {
        border: 1px dashed white;
    }

}
/*
    @media block are always writtern at the bottom of css file
*/
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1315px;
    }
}
